#org-container {
    display: flex;
    height: calc( 100% - 60px);
}

#org-container #org-tree-container {
    width: 320px;
    padding: 10px;
}

#org-container #org-detail-container {
    flex: 1;
    padding: 10px;
}