.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 5px;
}

.large-logo-font {
    font-size: 1.5rem;
}

.site-layout {
    display: flex;
    justify-content: space-between;
}

.tab_container {
    margin: 10px 10px 0 10px;
}

.tab_container .ant-tabs-nav {
    margin: 0;
}

.screen_container {
    margin: 10px 10px 10px 10px;
    flex: auto;
    overflow: auto;
    margin-top: 0;
}

.screen_container>.ant-card-body {
    height: 100%;
}

.ant-tabs-nav {
    margin-bottom: 0 !important;
}