.full-window {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-window .login-card {
    min-width: 400px;
    padding: 0 60px;
    background-color: transparent;
    border: none;
    /* box-shadow: 6px 6px 4px #0a0a0a; */
}

.full-window .login-card .ant-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-contaier {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    
    color: #60dafb;
    text-shadow: 0 0 4px #60dafb;
    user-select: none;
}

.logo-contaier>.logo{
    width: 4rem;
    height: 4rem;
}


.full-window .login-card .form-container {
    display: block;
    width: 280px;
    margin-top: 1rem;
}

.full-window .login-card .thrid-login-bar {
    display: block;
    width: 100%;
    text-align: right;
    visibility: hidden;
}

.full-window .login-card .thrid-login-bar button {
    margin-left: 5px;
}

.full-window .copy-right-bar {
    position: absolute;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.3);
    user-select: none;
    font-size: 1.2em;
}