#page-container {
    display: flex;
    height: calc( 100% - 60px);
}

#page-container #page-tree-container {
    width: 300px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-container #page-detail-container {
    flex: 1;
    padding: 10px;
}

#page-tree-container{
    overflow: auto;
}