#page-container {
    display: flex;
    height: 100%;
}

#page-container #page-tree-container {
    width: 350px;
    padding: 10px;
}

#page-container #page-detail-container {
    flex: 1;
    padding: 10px;
}