#user-container {
    width: 100%;
    height: calc( 100% - 60px);
    display: flex;
}

#user-container #user-group-container {
    padding: 10px;
    width: 320px;
}

#user-container #user-list-container {
    padding: 10px;
    flex: 1;
    overflow: auto;
}

#user-container #user-list-container .searchInput {
    width: 180px;
}